<nav class="navbar navbar-dark " style="background: #f73100;">
  {{>_logo_link}}
  <div id="area-navbar">
    <div id="botao-navbar">
      <strong>
        <a href="/user/inicio">Home</a>
        <a href="/user/receitas/lista">Minhas Receitas</a>
        <a href="/user/receitas/outras">Lista de Receitas</a>
        <a href="/user/logout">Sair</a>
      </strong>
    </div>
  </div>
</nav>