<nav class="navbar navbar-dark " style="background: #f73100;">
  
  {{>_logo_link}}

  <div id="area-navbar">
    <div id="botao-navbar">
      <strong>
        <a href="/user/inicio">Home</a><span class="branco"> |</span>
        <a href="/user/receitas/lista">Receitas</a><span class="branco"> |</span>
        <a href="/user/receitas/outras">Lista</a><span class="branco"> |</span>
        <a href="/user/usuarios/lista">Usuários</a><span class="branco"> |</span>
        <a href="/user/logout">Sair</a>
      </strong>
    </div>
  </div>
</nav>