<nav class="navbar navbar-dark " style="background: #f73100;">
  {{>_logo}}

  <div id="area-navbar">
    <div id="botao-navbar">
      <strong>
        <a href="/user/receitas/lista">Voltar</a>
      </strong>
    </div>
  </div>

</nav>