<div>
    <div id="area-social">
        <a href=""><img src="/img/facebook.png" width="20px">
            Receitas Tudo
        </a>

    </div>
    <div id="area-social">
        <a href=""><img src="/img/instagram.png" width="20px">
            @receitastudo
        </a>
    </div>
    <div id="area-dados">
        Quer que sua receita apareça no nosso site?
        Basta enviar no e-mail abaixo, com seu nome. 
    </div>
    <div id="area-social">
        <a href=""><img src="/img/gmail.png" width="20px">
            receitastudo@gmail.com
        </a>

    </div>
</div>