<div>
    <div id="area-social">
        <a href="http://www.facebook.com"><img src="/img/facebook.png" width="20px">
            Receitas Tudo
        </a>
    </div>

    <div id="area-social">
        <a href="http://www.instagram.com"><img src="/img/instagram.png" width="20px">
            @receitastudo
        </a>
    </div>

    <div id="area-social">
        <a href="http://www.twitter.com"><img src="/img/twitter.png" width="20px">
            @ReceitasTudo
        </a>
    </div>

    <div id="area-dados-2">
        Quer que sua receita apareça no nosso site?
        Basta enviar no e-mail abaixo, com seu nome. 
    </div>

    <div id="area-social">
        <a href="http://www.google.com.br"><img src="/img/gmail.png" width="20px">
            receitastudo@gmail.com
        </a>
    </div>
</div>