{{>_msg}}
<div>
    <div id="area-cabecalho">
        <div class="area-nome">
            Receitas
            <strong>
                <span class="branco">
                    Tudo
                </span>
            </strong>
        </div>
        <div id="area-botao">
            <a href="/user/login">Login</a>
            <a href="/user/registro/add">Registro</a>
        </div>
    </div>
    <div class="footer">
        <div id="area-rodape">
            <a href="sobre">
                © receitastudo
            </a>
        </div>
    </div>
</div>