{{>_navbar_form_receita}}

<div class="titulo-superior">Adicionar receita</div>

{{#each erros}}
<div class="alert alert-danger mensagens">
    {{texto}}
</div>
{{else}}

{{/each}}
<div id="area-informacao">
    <div class="fundo-secundario">
        <div>
            <form action="/user/receitas/nova" enctype="multipart/form-data" method="POST"
                enctype="multipart/form-data">

                <label>Nome: </label>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="tituloReceita" placeholder="Nome da Receita">
                </div>

                <input type="file" name="file">

                <label>Autor: </label>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="autorReceita" placeholder="Nome do Autor">
                </div>

                <label>Descrição: </label>
                <div class="form-group-input">
                    <textarea name="assuntoReceita" class="form-input-assunto" cols="40" rows="10"
                        placeholder="Sobre a receita"></textarea>
                </div>

                <label>Máterias necessarios: </label>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="material1Receita" placeholder="1º máterial">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="material2Receita" placeholder="2º máterial">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="material3Receita" placeholder="3º máterial">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="material4Receita" placeholder="4º máterial">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="material5Receita" placeholder="5º máterial">
                </div>

                <label>Passo a passo: </label>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="passo1Receita" placeholder="1º passo">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="passo2Receita" placeholder="2º passo">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="passo3Receita" placeholder="3º passo">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="passo4Receita" placeholder="4º passo">
                </div>
                <div class="form-group-input">
                    <input type="text" class="form-input" name="passo5Receita" placeholder="5º passo">
                </div>

                <center>
                    <button type="submit" id='area-botao-salvar' id='botao-salvar'>Salvar</button>
                </center>

            </form>
        </div>
    </div>
</div>