{{>_navbar_login}}

<div class="titulo-superior">Login</div>

{{#if error}}
<div class="alert alert-danger mensagens">
    {{error}}
</div>
{{else}}
{{/if}}

<div id="area-informacao">
    <div class="fundo-secundario">
        <div>
            <form action="/user/login" method="POST">

                <label for="nome">Nome: </label>
                <div class="form-group-input">
                    <input type="text" name="nome" class="form-input" placeholder="Nome de usuário">
                </div>

                <label for="senha">Senha: </label>
                <div class="form-group-input">
                    <input type="password" name="senha" class="form-input" placeholder="Digite sua senha">
                </div>
                <!--
                <label for="tipo">Tipo: </label>
                <select name="tipo" class="form-group-select">
                    <option value="opcao">--Opção--</option>
                    <option value="administrador">Administrador</option>
                    <option value="usuario">Usuário</option>
                </select>
                -->
                <center>
                    <button type="submit" id='area-botao-salvar' id='botao-salvar'>Entrar</button>
                </center>

            </form>
        </div>
    </div>
</div>